@charset "UTF-8";

@font-face { font-family: 'Arita-dotum-Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff'); font-weight: normal; font-style: normal; }

*{
	font-family: Arita-dotum-Medium;
}

#main-area{
	margin : 32px 0;
}

footer{
	margin-top : 30px;
	padding : 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

nav{
	border-radius: 5px;
}

header{
	border-radius: 10px;
}

header h1{
	font-weight: bold;
}

.book:hover{
	cursor: pointer;
}

#login{
	display:inline-block;
	margin-left: auto;
}

#member-logout:hover{
	cursor: pointer;
	color: #2b90d9;
}

a{
	text-decoration: none;
	color:inherit;
}

a:hover{
	text-decoration: none;
	color: #2b90d9;
}

/* Detail */

.form-border{
	width: 80%;
	padding : 40px 0;
	border-radius: 10px;
}

h2{
	font-weight: bold;
}
